body {
  background-color: gold;
}
.photo {
  width: 200px;
  border-radius: 20px 20px ;
  transition: .7s;
}
.photo:hover {
  transform: scale(1.1);
  transition: .7s;
}
.image {
  width: 200px;
  border-radius: 20px 20px ;
}
.image:hover {
  transform: scale(1.1);
  transition: .7s;
}
.surot {
  width: 200px;
  border-radius: 20px 20px ;
}
.surot:hover {
  transform: scale(1.1);
  transition: .7s;
}
.count {
  width: 1300px;
  position: relative;
  left: 400px;
  bottom: 850px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
  
}
.images {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 80px;
}
.cars {
  width: 200px;
  border-radius: 20px 20px ;
}
.cars:hover {
  transform: scale(1.1);
  transition: .7s;
}
.sea {
  width: 200px;
  border-radius:20px 20px ;
}
.sea:hover {
  transform: scale(1.1);
  transition: .7s;
}
.mosque {
  width: 200px;
  border-radius: 20px 20px ;
}
.mosque:hover {
  transform: scale(1.1);
  transition: .7s;
}